<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html.twig' %}
</head>
<body>
<h2>Réservation du vol {{ vol.villeDepart }} → {{ vol.villeArrive }}</h2>

<p>Date : {{ vol.dateDepart|date('d/m/Y') }}</p>
<p>Heure : {{ vol.heureDepart|date('H:i') }}</p>
<p>Prix estimé: {{ reservation.prixBillet}} euros</p>

{{ form_start(form) }}
    {{ form_widget(form) }}
<button class="btn btn-success">Confirmer la réservation</button>
<button class="btn btn-success" href="{{ path("app_reservation_select") }}">Annuler la réservation</button>
{{ form_end(form) }}
</body>
</html>