<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html.twig' %}
</head>


<body>
    <h1>Profil de {{ app.user.prenom }} {{ app.user.nom }}</h1>

    <table class="table">
        <tbody>


            <tr>
                <th>Nom</th>
                <td>{{ app.user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ app.user.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ app.user.email }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ app.user.ville }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ app.user.dateNaissance |date('Y-m-d') }}</td>
            </tr>
            <tr>
                {% if is_granted("ROLE_USER") and not is_granted("ROLE_VOL") and not is_granted("ROLE_PILOTE")%}
                    <th>Role</th>
                    <td>USER</td>
                {% elseif is_granted("ROLE_PILOTE") and is_granted("ROLE_USER") %}
                    <th>Role</th>
                    <td>PILOTE</td>
                {% elseif is_granted("ROLE_VOL") and is_granted("ROLE_USER") %}
                    <th>Role</th>
                    <td>VOL</td>
                {% endif %}

            </tr>

            <tr>
                <th>Mot de passe</th>
                <td>{{ app.user.password }}</td>
            </tr>
        <tr>
            <td> <a href="{{ path('app_index') }}">Retour vers la page d'accueil</a></td>

             {% if is_granted("ROLE_USER") and not is_granted("ROLE_PILOTE") and not is_granted("ROLE_VOL") %}
               <td>    <a href="{{ path('app_compteUser_edit', {'id': user.id}) }}">Modifier votre profil</a></td>
            {% endif%}
            {% if is_granted("ROLE_PILOTE") and is_granted("ROLE_USER")  %}
              <td>    <a href="{{ path('app_comptePilote_edit', {'id': user.id}) }}">Modifier votre profil</a></td>
            {% endif %}
            {% if is_granted("ROLE_VOL") and is_granted("ROLE_USER") %}
            <td>    <a href="{{ path('app_compteVol_edit', {'id': user.id}) }}">Modifier votre profil</a></td>
            {% endif %}
        </tr>
        </tbody>
    </table>

    {{ include('user/_delete_form.html.twig') }}


</body>
</html>
